button {
    all: unset;
}

.top-panel {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.top-button {
    padding: 10px;
    border-bottom: 1px solid;
    font-weight: 600;
}

.top-button:hover {
    cursor: pointer;
}

.active {
    color: #1890FF;
    border-bottom: 1px solid;
}